@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    isolation: isolate;
}

.debug {
    border: thin dashed coral;
}

.debug-bg {
    background-color: aquamarine;
}

.page-wrapper {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    
    grid-template-rows: [heading] 40px [body] auto [end];
    grid-template-columns: [nav] 96px [content] 1fr [side] 1fr [end];
    grid-template-areas: 
    "nav header search"
    "nav content side";
}

.page-nav {
    grid-area: nav;
}

.page-header {
    grid-area: header;
}

.page-search {
    grid-area: search;
}

.page-content {
    grid-area: content;
    overflow-y: scroll;
}

.page-side {
    grid-area: side;
    overflow-y: scroll;
}
